/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

/*all text*/

h1 {
    font-family: 'Courier New', Courier, monospace               
  }
h2 {
    font-family: 'Courier New', Courier, monospace
  }
p {
    font-family: 'Courier New', Courier, monospace  
  }
  link {
    display: block;
    visibility: visible;
  }
 
body {
  background-color: #E0FFFF;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
     }

footer{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  text-align: center;
  background-color: #87CEEB;
  border-top: 2px solid #99ddff;
  height: 50px;
  margin-top: 50px;

}
  
