/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

/*all text*/

h1 {
    font-family: 'Courier New', Courier, monospace               
  }
h2 {
    font-family: 'Courier New', Courier, monospace
  }
p {
    font-family: 'Courier New', Courier, monospace  
  }

  td {
    margin: 10px;
  }

  tr {
    margin: 10px;
  }
  link {
    display: block;
    visibility: visible;
  }

  button {
      border-radius: 10px;
      background-color: #87fafa;
      border: none;
      text-align: center;
      font-size: 28px;
      padding: 20px;
      height: 60px;
      width: 150px;
      cursor: pointer;
      margin: 5px;
      border-color: darkcyan;
      border-style: solid; 
  }
 
body {
  
  background-color: #E0FFFF;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}    

footer{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  text-align: center;
  background-color: #87CEEB;
  border-top: 2px solid #99ddff;
  height: 50px;
  margin-top: 50px;

}

/*calendar*/
thead.calendar {
  width: 100%;
}
ul.calendar li {
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
} 
.calendar td{
  background: rgb(112, 112, 112);
  text-align: center;
  font-size: 15px;
  height: 20px;
  width: 20px;
  border: 1px solid rgb(19, 19, 19);
  padding: 3px;
} 
.green {
  background-color: green;
}
.red {
  background-color: red;
}
